@charset "UTF-8";

body{
background-color: aqua;
font-family: ;
}

h1{
color: rgb(3, 88, 60);

}
h1#principal {

  text-align: center;
  background-color: rgb(3, 88, 60);
  color: white;

}

h2{
  color: rgb(2, 37, 26);

}

.basico{
  color: brown;

}

.intermediario{
color: blue;
}

.avancado{
color: blueviolet;

}