@charset "UTF-8";

*{
  padding: 0%;
  margin: 0%;
}
html, body{
  min-height: 100%;
  background-color: darkgray;
}
header{
  background-color: black;
  color: white;
  text-align: center;
}
header > h1 {
  padding-top: 50px;
  font-variant: small-caps;                                    
}
header > p {
  padding-bottom: 50px;
}
a{
  color: white;
  text-decoration: none;
  font-weight: bolder;
}
a:hover{
  text-decoration: underline;
}
section{
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
  padding-left: 30px;
}
section.normal{
  background-color: white;
  color: black
}
section.imagem{
  background-color:rgb(53, 53, 53) ;
}
section.imagem > p {
  color: white;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.13);
}
footer{
  text-align: center;
  color: white;
  background-color: black;
 padding: 10px;
}